div.field {
    text-align: center;
    display:ruby;
}

input.input {
    margin: 0;
    padding: 0;
    width: 60%;
    height: 3.7vh;
    font-size: 1.2em ;
    border-radius: 25px;
    text-align: center;
}

button {
    border-radius: 20px; 
    width: 20%;
    height: 4vh; 
    font-size: 1em;
}
